<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>__PAGE_TITLE__</title>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <h1><a href="/">
                <img alt="Photo of Doug Valenta" src="/images/doug.jpg"> Doug Valenta</a></h1>
        </header>
        <main>
        __PAGE_CONTENT__
        </main>
    </body>
</html>
